<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {% url 'pages:home' as url %}
            <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page" href="{% url 'pages:home' %}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            {% url 'persons:list' as url %}
            <a class="nav-link {% if request.path == url %}active{% endif %}" href="{% url 'persons:list' %}">Personnes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>